<%- include('includes/base/head') %> <%- include('includes/header') %>

<main class="error" id="error">
  <h1>Erro 404!</h1>
  <p>A página que você procura não existe.</p>
  <p>Tente acessar outra parte do nosso site,.</p>
</main>

<%- include('includes/base/footer') %>
